<form ng-submit="sunmit" action="action_page.php" >
    <div class="container">
        <h1>Login</h1>
        <p>Welcome to Login Page.</p>
        <hr>
    
        
    
        <label for="email"><b>Email</b></label>
        <input [(ngModel)]="email" type="text" placeholder="Enter Email" name="email" id="email" required>
        <br>
    
        <label for="psw"><b>Password</b></label>
        <input [(ngModel)]="password" type="password" placeholder="Enter Password" name="psw" id="psw" required>
        <br>
    
        

        <button type="submit" class="btn btn-primary" (click)="login()">
            Login
            
          </button>
      </div>
    
      <div class="container signin">
        <p>No Account<a routerLink="/Registration">Registration</a>.<p>
      </div>

      
    </form>


    