
  .contanier{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

img{
    height: 200px;
    width: 200px;
    }

h4{
    align-self: center;
    color:red;
   }

   h1{
       color: Red;
       font-family: 'Courier New', Courier, monospace;
       text-decoration-color: blueviolet;
       background-color:palegreen;
       font-weight: bolder;
   }

  td{
    width: 150px;
  }

     
button{
  font-weight: bold;
  color:#f2f2f2;
  padding: 14px 16px;
  
}



/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}







ul{
  padding: 0;
  list-style: none;
  background: #f2f2f2;
}
ul li{
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
ul li a{
  display: block;
  padding: 8px 25px;
  color: #333;
  text-decoration: none;
}
ul li a:hover{
  color: #fff;
  background: #939393;
}
ul li ul.dropdown{
  min-width: 100%; /* Set width of the dropdown */
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
ul li:hover ul.dropdown{
  display: block; /* Display the dropdown */
}
ul li ul.dropdown li{
  display: block;
}
.topnav {
  background-color: #f2f2f2;
  overflow: hidden;
}



.contanier:hover > div:hover{
  background-color: #4CAF50;
  opacity: 1.0;
}


.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  position: absolute;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  color: white;
  padding: 14px 16px;
  
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}