

<form ng-submit="sunmit" >
    <div class="container">
        <h1>Admin Login</h1>
        <p>Credentials Login</p>
        <hr>
    
        
    
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Admin Email" name="email" id="email" required>
        <br>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Admin Password" name="psw" id="psw" required>
        <br>
    
        

        <button type="submit" routerLink="/" class="btn btn-primary" (click)="Login()">
            Login</button>
      </div>
    
      
    </form>

    